* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1536px;
  margin: 0 auto;

  @media (max-width: 1536px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;

  @media (max-width: 576px) {
    gap: 16px;
  }
}

.logo-text {
  color: #f0a500;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;

  @media (max-width: 350px) {
    font-size: 24px;
  }
}

.element-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;

  @media (max-width: 576px) {
    gap: 16px;
  }

  img {
    cursor: pointer;

    @media (max-width: 350px) {
      width: 20px;
    }
  }
}

.launch-app-btn {
  display: flex;
  width: 194.437px;
  height: 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 1.28px solid #f0a500;
  color: #f0a500;
  font-size: 23.039px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;

  @media (max-width: 576px) {
    width: 120px;
    font-size: 16px;
    height: 45px;
  }

  @media (max-width: 350px) {
    width: 80px;
    font-size: 12px;
    height: 35px;
  }
}

/* Hero Section */

.hero-wrapper {
  min-height: calc(100vh - 92px);
  background-image: url("./public/images/heroBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;

  p {
    color: #fff;
    text-align: center;
    font-size: 22.492px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.203%;
    width: 921.279px;
    margin-inline: auto;
    margin-top: 2rem;

    @media (max-width: 992px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.hero-text {
  text-align: center;
  font-size: 85.304px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
  text-transform: capitalize;
  color: white;
  padding-top: 10rem;

  @media (max-width: 768px) {
    font-size: 56px;
    line-height: 65px;
    padding-top: 4rem;
  }

  span {
    color: #f0a500;
  }
}

.buy-now-btn {
  display: flex;
  width: 198px;
  height: 55px;
  padding: 17.778px 35.556px;
  justify-content: center;
  align-items: center;
  gap: 17.778px;
  flex-shrink: 0;
  background: #f0a500;
  color: #fff;
  text-align: center;
  font-size: 26.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-inline: auto;
  margin-top: 2rem;
}

.ca-text-div {
  border: 1.28px solid #fff;
  background: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(23.166805267333984px);
  margin-top: 4rem;
  width: 780px;
  margin-inline: auto;

  @media (max-width: 992px) {
    width: 100%;
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.55px;
    text-transform: capitalize;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    word-break: break-all;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

/* About Section */

.about-container {
  display: flex;
  justify-content: space-between;
  margin-block: 4rem;
  gap: 1rem;

  @media (max-width: 1200px) {
    flex-direction: column;
    text-align: center;
  }

  div:nth-child(1) {
    flex: 1;

    p:nth-child(1) {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 12.8px;
      text-transform: capitalize;
      margin-top: 8rem;

      @media (max-width: 1200px) {
        margin-top: 0rem;
      }
    }

    h2 {
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;

      @media (max-width: 768px) {
        font-size: 32px;
      }

      span {
        color: #f0a500;
      }
    }

    h4 {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 153.203%; /* 36.769px */
      margin-top: 8px;
    }
  }

  div:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @media (max-width: 768px) {
        width: 50%;
      }
    }
  }
}
